html, body{    
    min-height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: linear-gradient( rgb(31, 31, 31) , rgb(15, 0, 82) 150%  );
}

:root{
    --primary-color: rgb(6, 6, 6);
    --secondary-color: #333;
    --tetiary-color: #ddd;
    --white-color: #fff;
    --black-color: #000;
}  

body, ul{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;  /*This whole code is to avoid streching of the navbar when another element is added to the opposite side*/
    align-items: center;
    padding: 0;
    height: 50px;
}

.navbar{
    background-color: #000;
    overflow: visible !important;
    position: sticky;
    top: 0;
    width: 100%;
    animation: smooth-light 3s infinite alternate;
}

.navbar{
    color: white;
    text-align: left;
    text-decoration: none;
    overflow: hidden;
}

#title{
    margin-left: 3vw;
}

.navbar ul{
    list-style-type: none;
    display: flex;              /*makes it acc horizontal*/
    justify-content: right;
}

.navbar li{
    word-spacing: 20px;

}

.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;      /*removes underline*/
}

.navbar a:hover{
    background-color: var(--secondary-color);
    color: orange;
    border-color: var(--primary-color);
}


@keyframes smooth-light{
    0%{
        box-shadow: 0 0 15px transparent;
    }
    50%{
        box-shadow: 0 0 15px orange;
    }
    100%{
        box-shadow: 0 0 15px transparent;
    }

}


main{
    font-family: cursive;
}


body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    
}


.profile{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    box-shadow: 5px 5px 10px;
    animation: float 3s infinite alternate ease-in-out;
    margin: 2vw;
}


@keyframes float{
    0%{
        transform: translateY(-7px);
    }
    50%{
        transform: translateY(7px);
    }
    100%{
        transform: translateY(-7px);
    }
}

#about{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    color: white;
}

#skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#skills h3{
   color: white;
}

.skillcard{
    text-align: center;
    padding: 20px;
    
}

.skillcard img{
    width: 200px;
    height: 200px;
    border: 10px double;
    border-radius: 20px;
    transition: 0.4s;
    animation: neon-glow 3s infinite alternate;
}

@keyframes neon-glow{
    0%{
        border-color: cyan;
        box-shadow: 0 0 7px #0af, 0 0 15px #0af, 0 0 20px #0af, 0 0 40px #0af;
        inset: 0 0 15px #0fa;
    }
    50%{
        border-color: #f0f;
        box-shadow: 0 0 5px #f0f, 0 0 15px #f0f, 0 0 20px #bc13fe, 0 0 40px #bc13fe;
        inset: 0 0 15px #f0f;
    }

    100%{
        border-color: #fbb300;
        box-shadow: 0 0 5px #fbb300, 0 0 15px #fbb300, 0 0 20px #fbb300, 0 0 40px #fbb300;
        inset: 0 0 15px #fbb300;
    }


}


.skillcard img:hover{
    transform: translateY(-10px);

}

.sectionhead{
    text-align: center;
    margin-top: 30vh;
    margin-bottom: 10vh;
}

.sectionhead{
    text-align: center;
    margin-top: 30vh;
    margin-bottom: 10vh;
}

#projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.projectcard{
    background-image: radial-gradient( rgb(89, 0, 255) -10%, rgb(0, 19, 80) ,#000 95%);
    background-color: var(--secondary-color);
    color: var(--white-color);
    text-align: center;
    margin: 50px;
    border-radius: 30px;
    transition: transform 0.5s ease;
    box-shadow: 1px 1px 15px #000;
}



.projectcard h3{
    text-align: center;
    color: #000;
}

 .projectcard p{
    font-size: large;
}

.projectcard:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 15px rgb(89, 0, 255) ;
}



form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
   
}


form input{
    background-color: var(--white-color);
    opacity: 70%;
    box-shadow: 1px 1px 10px #fff;
    width: 20%; 
    border-radius: 10px; 
    padding: 10px;
}

form button{
    background-color: transparent;
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;

}

form button:hover{
    transform: translateY(-5px);
    box-shadow: 1px 1px black;
    background-color: white;
}

footer{
    background-color: #333;
    color: white;
    padding: 5px;
    justify-content: center;
    display: flex;
}

footer p{
    padding: 14px 16px;
    margin: 0;
    opacity: 50%;
}

footer a{
    color: white;
}
