html, body{
    /*background-color: rgb(31, 31, 31);*/ /*rgb(236, 229, 204);*/
    
    min-height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /*background-image: url(images/cloud.png)*/;
    /*padding-bottom: 20px;*/
    background-image: linear-gradient( rgb(31, 31, 31) , rgb(15, 0, 82) 150%  );
}

:root{
    --primary-color: rgb(236, 229, 204);
    --secondary-color: #333;
    --tetiary-color: #ddd;
    --white-color: #fff;
    --black-color: #000;
} 

body, ul{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;  /*This whole code is to avoid streching of the navbar when another element is added to the opposite side*/
    align-items: center;
    padding: 0;
    height: 50px;
}

.navbar{
    background-color: #000;
    overflow: visible !important;
}

.navbar ,title{
    color: white;
    text-align: left;
    text-decoration: none;
    overflow: hidden;
}

.navbar ul{
    list-style-type: none;
    display: flex;              /*makes it acc horizontal*/
    justify-content: right;
}

.navbar li{
    word-spacing: 20px;

}

.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;      /*removes underline*/
}

.navbar a:hover{
    background-color: var(--secondary-color);
    color: orange;
    border-color: var(--primary-color);
}

.navbar{
    position: sticky;       /*makes it stay at top even when scrolling [radial-gradient(#000 , rgb(0, 19, 80) 95% , #f0f);] [box-shadow: 1px 1px 15px orange;]*/
    top: 0;
    width: 100%;
    
    animation: smooth-light 3s infinite alternate;
}

@keyframes smooth-light{
    0%{
        box-shadow: 0 0 15px transparent;
    }
    50%{
        box-shadow: 0 0 15px orange;
    }
    100%{
        box-shadow: 0 0 15px transparent;
    }

}

/*.navbar img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    
}

.navbar img:hover{
    box-shadow: 1px 1px 10px;
    color: white;
    transform: translateY(-5px);
    transition: 0.4s;
}*/

.dropdown{
    position: relative;
    display: inline-block;
}

.drop-img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 100px;
   }

.drop-img:hover{
    box-shadow: 1px 1px 10px;
    color: white;
    transform: translateY(-5px);
    transition: 0.4s;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 60px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    left: auto;
    top: 100%;
    margin-top: 0;
}

.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
}


.dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #333;
}


main{
    font-family: cursive;
}


body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#intro{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    
}

#info p{
    color: rgb(71, 86, 87);
    margin-bottom: 25vh;
}

#Alex_self{
    color: rgb(255, 180, 40);
    margin-right: 500px;
    text-align: center;
    font-size: larger;
}

#dots{
    letter-spacing: 10px;
}

.profile{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    box-shadow: 5px 5px 10px;
    animation: float 3s infinite alternate ease-in-out;
}


@keyframes float{
    0%{
        transform: translateY(-7px);
    }
    50%{
        transform: translateY(7px);
    }
    100%{
        transform: translateY(-7px);
    }
}



#skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#skills h3{
   color: white;
}

.skillcard{
    text-align: center;
    padding: 20px;
    
}

.skillcard img{
    width: 200px;
    height: 200px;
    border: 10px double;
    border-radius: 20px;
    transition: 0.4s;
    animation: neon-glow 3s infinite alternate;
}

@keyframes neon-glow{
    /*0%{
        border-color: 4px solid cyan;
        box-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 40px #0af 0 0 80px #0af;
        inset: 0 0 15px #f0f;
    }
    50%{
        border-color: #f0f;
        box-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 40px #f0f 0 0 80px #f0f;
        inset: 0 0 15px #f0f;
    }

    100%{
        border-color: #fbb300;
        box-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 40px #fbb300 0 0 80px #fbb300;
        inset: 0 0 15px #f0f;
    }*/

    0%{
        border-color: cyan;
        box-shadow: 0 0 7px #0af, 0 0 15px #0af, 0 0 20px #0af, 0 0 40px #0af;
        inset: 0 0 15px #0fa;
    }
    50%{
        border-color: #f0f;
        box-shadow: 0 0 5px #f0f, 0 0 15px #f0f, 0 0 20px #bc13fe, 0 0 40px #bc13fe;
        inset: 0 0 15px #f0f;
    }

    100%{
        border-color: #fbb300;
        box-shadow: 0 0 5px #fbb300, 0 0 15px #fbb300, 0 0 20px #fbb300, 0 0 40px #fbb300;
        inset: 0 0 15px #fbb300;
    }


}


.skillcard img:hover{
    box-shadow: 1px 1px 10px;
    transform: translateY(-10px);

}

.sectionhead{
    text-align: center;
    margin-top: 30vh;
    margin-bottom: 10vh;
}

.sectionhead{
    text-align: center;
    margin-top: 30vh;
    margin-bottom: 10vh;
}

#projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.projectcard{
    background-image: radial-gradient( rgb(89, 0, 255) -10%, rgb(0, 19, 80) ,#000 95%);
    background-color: var(--secondary-color);
    color: var(--white-color);
    text-align: center;
    margin: 50px;
    border-radius: 30px;
    transition: transform 0.5s ease;
    box-shadow: 1px 1px 15px #000;
}



.projectcard h3{
    text-align: center;
    color: #000;
}

 .projectcard p{
    font-size: large;
}

.projectcard:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 15px rgb(89, 0, 255) ;
}

#about{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
   
}


form input{
    background-color: var(--white-color);
    opacity: 70%;
    box-shadow: 1px 1px 10px #fff;
    width: 20%; 
    border-radius: 10px; 
    padding: 10px;
}

form button{
    background-color: rgba(245, 245, 245, 0.322);
    border: solid 2px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;

}

form button:hover{
    transform: translateY(-5px);
    background-color: var(--tetiary-color);
    color: darkgoldenrod;
}

footer{
    background-color: #333;
    color: white;
    padding: 5px;
    justify-content: center;
    display: flex;
}

footer p{
    padding: 14px 16px;
    margin: 0;
    opacity: 50%;
}

 /* *{
    outline: 1px solid red !important;
} */